{% block block %}
    <div class="card-text">
        {% for content in contents %}
            {% set page = content %}
            <a href="{{ path(page) }}">{{ page.title|raw }}</a>
            <p class="small text-muted">{{ page.body| striptags | decode_html | truncate(150) }}</p>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
