{% block block %}
    {% set page = content %}
    <h1>{{ page.title|raw }}</h1>
    {% if page.image is not null %}
        <p>
            <img src="{{ display_image(page.image) }}" alt="{{ page.title }}" class="img-responsive">
        </p>
    {% endif %}
    <p>{{ page.body|raw }}</p>
{% endblock %}
