<form method="post" action="{{ path('positibe_page_delete', {'name': page.name}) }}">
    <input type="hidden" name="_method" value="DELETE" />
    <button type="submit">
        Delete
    </button>
</form>