<form method="post" action="{{ path('positibe_page_delete', {'id': page.id}) }}">
    <input type="hidden" name="_method" value="DELETE" />
    <button type="submit">
        Delete
    </button>
</form>