{% extends '@PositibeCmf/layout.html.twig' %}

{% block title %}P치ginas{% endblock %}
{% block subtitle %}Crear nueva p치ginas{% endblock %}
{% set menu_active  = 'content'%}
{% set content_menu = 'page' %}

{% block breadcrumb_list %}
    <li>
        <i class="fa fa-angle-right"></i>
        <a href="{{ path('positibe_page_index') }}">P치ginas</a>
    </li>
    <li>
        <i class="fa fa-angle-right"></i>
        Nueva p치gina
    </li>
{% endblock %}

{% block content %}
    {{ form_start(form,{'attr': {'class': 'form-horizontal inbox-compose' }}) }}
    {{ include('@PositibeContent/Page/_form.html.twig') }}
    {{ form_end(form) }}
{% endblock %}