{% extends '@PositibeCms/layout.html.twig' %}

{% block title %}Categorías{% endblock %}
{% block subtitle %}Crear nueva categorías{% endblock %}
{% set menu_active  = 'content'%}
{% set content_menu = 'category' %}

{% block breadcrumb_list %}
    <li class="breadcrumb-item">

        <a href="{{ path('positibe_category_index') }}">Categorías</a>
    </li>
    <li class="breadcrumb-item">

        Nueva categoría
    </li>
{% endblock %}

{% block content %}
    {{ form_start(form,{'attr': {'class': 'form-horizontal inbox-compose' }}) }}
    {{ include('@PositibeCms/Category/_form.html.twig') }}
    {{ form_end(form) }}
{% endblock %}